*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background: gray;
    height: 100vh;
}

#user_inputs{
    width: 20%;
    background: #23272A;
    text-align: center;
    color: aliceblue;
}

button{
    color: #23272A;
    border: none;
    padding: 1.5ex;
}

input[type=number] {
    margin-top: 2ex;
    padding: 2ex;
    margin-bottom: 2ex;
    width: 90%;
}

h1{
    margin-top: 1ex;
}

canvas {
    width: 80%;
    background: #000;
}

#pixi-container{
    width: 80%;
    background: #000;
}